.user-basic-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    padding: 10px;
    max-width: 100%; /* Set maximum width to the full width of the container */
  }
  .flex-container span {
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
  }
}
